[2021-08-26 20:47] #154 closed, assigned to nobody

[2021-08-26 20:49] cookeac commented on #202
Addressed with PR #244 and Wiki page https://github.com/adewg/ICAR/wiki/Feed-Reporting

[2021-08-26 20:49] #202 closed, assigned to nobody

[2021-09-02 17:32] ahokkonen commented on #191
@cookeac @erwinspeybroeck
One thing in addition - should also sire information be added for the progeny details or for the parturition event resource?

I even think if we can just use this new "ProgenyDetails" as an "extension" for the core animal resource. By having new type inherited from "icarAnimalCoreResource" we'll remain all original animal properties and add new without "breaking" a core r

[2021-09-08 09:14] ahokkonen commented on #191
Added small updates for #243
- code rename for DiedBeforeOfficialRegistrationDate -> DiedBeforeTaggingDate (icarParturitionBirthStatusType)
- added optional tagging date for progeny

[2021-09-09 06:42] alamers commented on #239
As discussed in the meeting today, investigating will continue but we don't expect 3.1 to be used for the next version. Version 3.0 will be the openapi spec to use for now.

[2021-09-09 06:58] #72 closed

[2021-09-09 08:40] alamers commented on #214
I've just did some testing with Java. I specified 'created' date in the 'proper' 3.0 style as Anton proposed. The 'validFrom' (and other fields I left as-is.

Client generation with openapi-generator-cli-4.3.1 and openapi-generator-cli-5.2.0
In both cases, the field `private OffsetDateTime created` is replaced with `JsonNullable<OffsetDateTime> created = JsonNullable.<OffsetDateTime>of(null);`

Th

[2021-09-09 14:28] ahokkonen commented on #214
I've performed my tests with various versions of openapi-generators and unless I had nullable declaration set as suggested for 3.0 (refer to my comment) the compiled result was incorrect. So, unfortunately, with using openapi-generator tool for .net specs needs to be adjusted.

I also has some tries with **autorest**, but seems like I need to look a bit deeper into the configuration docs :) With d

[2021-09-09 15:43] ahokkonen commented on #214
btw, @alamers, what if you try to switch off the "openApiNullable" in configuration and then compile? Looks like Jackson library is used by default for nullable as [stated](https://openapi-generator.tech/docs/generators/java/) in openapi-generator Java docs. This setting I assume leads to that strange declaration in a compiled  code.

[2021-09-10 08:13] alamers commented on #214
I tested with that `openApiNullable` parameter and for 5.2.0 that generates the same code as before. For 4.3.1, the switch doesn't seem to do anything.

So, the proper '3.0' style works also for Java: either you get the JsonNullable wrapper (with the rationale as stated above), or you explicitly switch that off to get the same code back as we have now. That is, if you use the 5.2.0 generator.

[2021-09-10 09:31] ahokkonen commented on #214
Ok, maybe for the older version that switch wasn't just supported. So we can state that using latest version of the generator and proper OpenAPI 3.0 nullable declaration we'll get correct results in both languages (c# and java). Was there still something wrong for TypeScript? @AndreasSchultzGEA

[2021-09-10 09:34] AndreasSchultzGEA commented on #214
TS is okay.

[2021-09-15 22:36] #170 closed, assigned to nobody

[2021-09-21 07:42] ahokkonen commented on #191
I've made my PR available for official review and we can now target it to the next ADE release.

[2021-09-21 07:50] ahokkonen commented on #214
back to that issue - should we work on correcting nullable declarations in all schemata for the next minor release (1.3?) and then provide a clear and proper descriptions on code generation (at least Java, .NET, TS)?

I can assign that task on myself and verify for .NET gens, but then I'll need an input from the others to make sure we'll get correct output for Java and TS :)

[2021-09-21 14:16] AndreasSchultzGEA commented on #214
Hi Anton,

I'll try to find some time for this issue at the end of the week to check Java and TS.

Best regards,
Andreas Schultz
Senior Software Engineer
On-farm Applications
Farm Technologies | Digital Solutions and Services

Email
***@***.******@***.***>
Web
www.gea.com<https://www.gea.com/en/index.jsp?utm_source=default-signature&utm_medium=link&utm_campaign=email-signature>

GEA INTERNAL
Von:

[2021-09-22 07:33] erwinspeybroeck commented on #233
We started collecting remarks in one of our apps since a year now. The remarks are not stored in our backend. We wanted first to get some insight in how the customer would use this remark. We are planning an analysis of what has been entered until now. We want to see if we can standardize remarks instead of black box strings. The advantage of standized remarks would be that you can also do somethi

[2021-09-23 06:51] cookeac commented on #156
No use case for this at present.

[2021-09-23 06:51] #156 closed, assigned to nobody

[2021-09-23 06:57] alamers opened #246 "Investigate usage of bot for marking issues as stale"
There are bots (e.g. https://github.com/apps/stale) that can help us manage open tickets. As discussed there are quite some tickets that seem to be stale (no activity for a long period). Automatically marking them as 'stale' would help us to discuss these whether to keep them open or close them.

[2021-09-23 07:04] erwinspeybroeck opened #247 "type classification"
We have an API description for a conformation score event.
Herdbooks are doing type classifications = scoring a number of linear traits and composite traits (thes might be calculated from linear traits) at once for a number of animal on a location

So we might consider an extra API : type-classifications. This would then comprise in one event an array of linear and an array of composite traits.

[2021-09-23 07:08] cookeac commented on #239
The group members at a meeting on 23 Sep 2021 discussed a move to support OpenAPI 3.1
(release announcement here: https://www.openapis.org/blog/2021/02/18/openapi-specification-3-1-released)

Our policy will be to move to newer versions providing that there is tool chain support from the commonly used toolchains by implementers across the wider ICAR group.

At present we cannot move as we await [o

[2021-09-23 07:22] cookeac opened #248 "Support linking or referencing related resources"
It could be useful to have a generalised method for referencing one event from another, and describing the relationship between the events. This is demonstrated by the desire to link feed intake events and milking events when animals are fed while they are milked #171.

We did something similar for links between spatial resources at https://github.com/Datalinker-Org/Geospatial
There we created a `

[2021-09-23 07:22] ahokkonen commented on #246
sound good and setup seems to be pretty simple. I'm voting for taking it into the action :)

[2021-09-23 07:22] cookeac commented on #171
A generalised solution is described in #248

[2021-09-23 10:30] ahokkonen opened #250 "Adding a reason for DoNotBreed event"
We've received a proposal/request on extending [DoNotBreed](https://github.com/adewg/ICAR/blob/ADE-1/resources/icarReproDoNotBreedEventResource.json) resource with the "reason" enum field (potentially party based on departure reasons)

Does anyone feel this could be a valuable addition to the standard?

[2021-09-23 10:39] ahokkonen opened #251 "Using "GitHub Project Board" for an issue/task tracking when working on new releases"
Would it be beneficial for us to use [GitHub Project](https://docs.github.com/en/issues/organizing-your-work-with-project-boards/managing-project-boards/about-project-boards) board for planning, scheduling and following work items picked up for the upcoming releases?

[2021-09-23 11:24] alamers commented on #248
Sounds interesting. A few questions:
* the 'relationship' type's well-known syntax: this would be some standardised set of types? A quick scan of FOAF indicates that it is defined mostly for a social network context, so this would be up to ADE? I am a bit in doubt in how much a client can expect in this area: do we expect some relations to be compulsory? How do we grow from these 'loosely' defined

[2021-09-23 12:13] alamers commented on #246
Is resolved in #249 and seems to work ;)
<img width="560" alt="Screenshot 2021-09-23 at 14 10 20" src="https://user-images.githubusercontent.com/5896035/134504540-6104e507-b11b-4d21-8bf9-9093c77bc4d2.png">

We should be careful since this is the first run that some issues may be closed relatively quickly without being discussed. But I guess we'll get a mail for those as well so we can reopen them.

[2021-09-23 12:13] #246 closed, assigned to nobody

[2021-09-23 12:24] erwinspeybroeck commented on #250
We use the remark for this. If we go for the solution from https://github.com/adewg/ICAR/issues/233 then this will automatically part of it

[2021-09-23 16:08] gra-moore commented on #248
I have a few comments:

1. have a well defined section in the entity data structure that contains all references. This allows clients to be sure what group of keys are references.

2. The contentType idea isnt ideal. Instead we should promote the idea of a type property in the data. either via a ref to Class or a promoted key such as rdf:type.

3. Agree the reltype should be a URI and so should th

[2021-09-23 16:15] gra-moore commented on #129
I think this use case is very important and for data aggregators and for bulk data sharing between nodes in the agri sector.

The current APIs are very single location focused and chatty.

See the API published here as a pattern for keeping sets of data in sync with a simple dataset centric protocol: https://open.mimiro.io/specifications/uda/latest.html, these ideas are also now reflected in the n

[2021-09-23 16:18] gra-moore commented on #68
I don't think this is for us to define. Maybe some recommendations as @ahokkonen says above.

[2021-09-24 06:34] ghost commented on #148
@AndreasSchultzGEA can you please take this issue with you into one of the next meetings? Maybe someone can propose a better enum set for the values?

[2021-09-24 06:40] ghost commented on #160
Maybe we could remove the fields for a version 2.0? The data could still be transmitted in the same fields and we could take care of a standardization in a new issue, if that is required.

[2021-09-24 07:01] ahokkonen commented on #247
Here is the model we use for animal classification:

[code]

So as you see resource is divided into the several composite traits - body, muscularity, legs - together with some common linear traits (BCS, locomotion). Each composite trait contains linear traits + area score calculated from the trait scores. Also model has total score which is a classification score from ill the inputs.

[2021-09-24 07:11] ahokkonen commented on #191
PR is merged to the Development branch, issue is closed

[2021-09-24 07:11] #191 closed, assigned to cookeac

[2021-09-24 08:41] erwinspeybroeck commented on #247
I would prefer something like this:

GET /locations/{location-scheme}/{location-id}/type-classifications

response:

array of
[
- event date = the date of the type classification
- location-number = the location (+scheme) where the type classification was executed
- responsible = the person who executed the classification
- array of animals --> animals that were part of this type classification
[

[2021-09-24 09:50] AndreasSchultzGEA commented on #214
I configured the Java-Generator for the update from 1.1 to 1.2. Now we use the mvn-generator v5.2.1. And as a hint to @alamers :
`                            <configOptions>
                                <dateLibrary>java8</dateLibrary>
                                <openApiNullable>false</openApiNullable>
                            </configOptions>
                            <templateDirect

[2021-09-27 14:26] ahokkonen commented on #247
My post was only an example what we use at the moment, but for ADE I would prefer more generic solution for sure :)
Do we want it to be multi-animal event?

[2021-09-27 14:34] erwinspeybroeck commented on #247
In my opinion there has to be one, a regular type classification always consist of scoring the new heifers, so always a number of animals on one day. There is surely a use case to request the type classifications based on a classification date.
Another use case is to request the type classifications for all in herd animals. Maye these should be 2 seperate API's , or we can try to have the same res

[2021-09-29 11:31] AndreasSchultzGEA commented on #240
PR at https://github.com/adewg/ICAR/pull/252

[2021-10-01 09:13] AndreasSchultzGEA commented on #148
There is a PR prepared https://github.com/adewg/ICAR/pull/253/ which contains the ideas of this discussion.
Please review and provide information e.g. about the values of the health-status-values.

The withdrawal-topics should better be put into a separated issue.

[2021-10-03 12:44] ahokkonen commented on #214
PR with the fix is published, code generation tested for .NET and typescript.

[2021-10-07 06:32] cookeac commented on #250
We agree with adding a Remark (#233) unless there is a strong common list of values we should consider.

[2021-10-07 06:41] cvigorsICBF commented on #148
I mentioned the possibility of the status of  'Very Ill" on the call this morning that I thought I saw third party software using. I've had a quick look though the documentation, but I can't confirm that it is used. Therefore this suggestion can be ignored.

[2021-10-07 06:42] cookeac commented on #247
I think we should initially define the event in a way that is consistent with the rest of the animal events - with each event being for an Individual. If you want to deliver data for a set of heifers classified on a single day you can always post them as a /batch :-)

To me the first step would to be to define a Composite Score event that define the composite score (which can be calculated or over

[2021-10-07 06:51] cookeac commented on #248
Good points:
* Yes, I would see this type being a used in a common array (well-defined section) in `icarResource.json`.
* I had been intending `contentType` as the class name. It might be better to call it `class`! I agree with the semantic URI idea for these if it doesn't make it too hard for others to understand (like @gra-moore's example).
* Given our heritage (many people from classic web and

[2021-10-07 19:41] #240 closed, assigned to nobody

[2021-10-09 11:02] ahokkonen commented on #214
PR is merged and we only need a last Java verification before closing this issue

[2021-10-11 05:38] AndreasSchultzGEA commented on #214
Java & JS code generation seems to be okay.

[2021-10-21 04:33] cookeac opened #255 "Add a remark attribute to all event resources"
Add a string remark field to all event resources to address:
* A reason for DoNotBreed events (#250)
* Remarks for reproductive events (#233)

Bringing these together into one issue so that it can be discussed but also to make the changelog more readable.

[2021-10-21 06:06] erwinspeybroeck commented on #184
I will need to pick this up, but lack of time for the moment ...

[2021-10-21 07:12] cookeac commented on #250
Unlinked from #256. We've decided that there could also be value in a *reason* attribute which was an enumeration, in addition to a user-editable remark string.

[2021-10-21 07:12] #255 closed, assigned to nobody

[2021-10-23 13:01] #135 closed, assigned to nobody

[2021-10-23 13:01] #113 closed, assigned to nobody

[2021-10-23 13:01] #168 closed, assigned to nobody

[2021-10-23 13:01] #98 closed, assigned to nobody

[2021-10-23 13:01] #107 closed, assigned to nobody

[2021-10-23 17:34] #129 closed, assigned to nobody

[2021-11-03 11:08] gra-moore opened #257 "A streaming API for bulk data sharing or update"
# Problem statement

As discussed, the current API is chatty and location centric. This style of API does not fit the situation where data about many locations needs to be exchanged internally between systems and externally between partners.

The following strawman proposal defines a collection based streaming API for fetching or pushing data changes from or to a compliant API endpoint.

# Key Qua

[2021-11-03 11:12] gra-moore opened #258 "Formal abstract data model definition"
Some of the most important work done by the group is the definition of the resource type and the implied data model. To facilitate even greater understanding and clarity and to provide an option to have different syntactic representations it is proposed to define the abstract data model.

This would allow mappings to be done to other representations, notably RDF, and semantic EGDM via EGCL.

[2021-11-03 11:20] gra-moore opened #259 "The use of URNs instead of scheme structures"
The scheme structure that is used extensively feels a bit clunky but is there for good reason. To allow different kinds of identification scheme and to know which scheme is in play.

An alternative to the rich structure of scheme, would be to use URNs to capture the same data.

urn:scheme:scheme-bit1:scheme-bit2

The use of single string to capture identifiers creates and simple and more common wa

[2021-11-03 11:27] gra-moore opened #260 "API and Model Change Compliance"
There is currently no definition of compliance with regards the API or related to the data model. To improve interoperability and data quality is there some way to describe and add compliance definitions. Ideally, this should be represented as a test suite in code that can test implementations that claim compliance.

[2021-11-03 15:09] erwinspeybroeck commented on #184
I'd rather think of a test-day-statistics which gives statistics of the test day observations.
This could include a statistics resource which migth be usable for other events that need statistics, and which may go over a period.

test-day-statistics {
id : string, //UUID of course
location: icarLocationIdentifier,
recordingDate: icarDateTime
groupId: refers to a group --> seperate API to define th

[2021-11-10 07:27] AndreasSchultzGEA opened #261 "Insemination: additional AICode, Station and Technican for Sire"
At least one German official organisation (for reproduction, e.g. LKV Brandenburg) demands the additional Artificial-Identification-Code of a sire, the insemination-station the straw is taken from and the technican who executed the insemination to be included into the insemination-events.
All three attributes should be of type string. The AICode may e.g. be a composition of 'official herdbook no'

[2021-11-10 08:12] erwinspeybroeck commented on #261
SireIdentifiers is an array - there you should include  the additional Artificial-Identification-Code of a sire.
The insemination station is part of the "straw" sub resource --> CollectionCentre.
The technician is supposed to be mentioned in the responsible field

[2021-11-10 09:44] AndreasSchultzGEA commented on #261
Thanks for the hints, Erwin

[2021-11-10 09:44] #261 closed, assigned to nobody

[2021-11-10 20:17] cookeac commented on #260
I think this one was closed by mistake (intended close of 261).

[2021-11-26 09:16] #215 closed, assigned to nobody

[2021-12-02 06:02] gra-moore opened #264 "Add id to icarResource.json"
For the streaming API to work all resources must have an id.

Options:

1. add id field to icarResource. Simple string value. Aligns well with the current use of id on many sub resources. e.g. icarResource.json and many others. Means some resources without the id property will now need to be given it.

2. add id field to meta
Protocol States: resource instance representations must have the meta pr

[2021-12-02 06:04] gra-moore opened #265 "Add isDeleted to meta"
For the streaming protocol to work it is necessary for resources to indicate if they have been deleted.

Proposal is to add a isDeleted boolean to the meta structure.

This is backwards compatible and makes sense alongside the other meta properties.

The value is optional and defaults to false.

[2021-12-02 06:07] gra-moore opened #266 "Add semantic type to resource"
The streaming API but many other contexts it is valuable for a resource json fragment to clearly indicate what kind of thing it is.

Proposal:

add a new property to resource called: icarType whose value is a URI.
define a list of URIs for all existing ICAR types.

The property is optional.
For the purposes of the protocol this property would need to be present.

This change is backwards compatibl

[2021-12-02 06:13] gra-moore opened #267 "Add location or context to resource"
For the streaming API it is necessary to provide context regarding which farm or account the data is related to.

Options:

1. Add Location as a property of resource. This is backwards compatible. Any resource definitions on subtypes would be moved up to resource.

2. Add a 'context' property to meta that allows for this to be conveyed in an application independent way.

In either case the API spe

[2021-12-02 06:16] gra-moore opened #268 "Write first draft api spec document"
Assuming the data model updates are made the specification can be written with no backwards incompatibility.

The spec will state some expectations around use of the model and implementers will need to respect those to be compliant.

Note these requirements only relate to 4 properties.

There is already a draft pull request for the API as it is based on lots of previous work.

[2021-12-02 06:22] gra-moore commented on #264
For now the datatype of the Id is string. But it must be a unique value across all resources coming from a given server. This can be stated in the API and does not affect the data model. So for now we are NOT requiring the use of URIs for identity of individual resources.

[2021-12-02 06:51] gra-moore commented on #265
It would look something like this:

`{
  "description": "Generic meta data on this resource",

  "type": "object",

  "required": [
    "source",
    "modified"
  ],

  "properties": {
    "source": {
      "type": "string",
      "description": "Source where data is retrieved from. URI  or reverse DNS that identifies the source system."
    },
    "sourceId": {
      "type": "string",
      "desc

[2021-12-02 07:06] gra-moore commented on #264
It appears the use of id in sub types of resource is not consistent. Some are strings and some are schema and value. e.g. icarReproEmbryoResource

[2021-12-02 07:49] gra-moore commented on #266
proposed icarResourceType

[2021-12-02 07:49] gra-moore commented on #266
proposed resourceType

[2021-12-02 07:58] gra-moore commented on #267
Proposal: (1)

[2021-12-02 08:16] gra-moore commented on #264
Option 4. Use sourceId

[2021-12-02 08:23] cookeac commented on #264
See the discussion of `sourceId` and `source` in issue #153 and #154. These are indeed very close to what we need, but as we saw from today's discussion, they might not be guaranteed to be unique across resource types.

[2021-12-02 08:45] ahokkonen commented on #214
seems like all is good, closing this tissue

[2021-12-02 08:45] #214 closed, assigned to alamers, cookeac, erwinspeybroeck

[2021-12-07 17:05] ahokkonen commented on #264
Thank you @cookeac for putting links to our previous discussions.
There was also a discussion at pull request [comments](https://github.com/adewg/ICAR/pull/217) and as I remember there we'd agreed on the final solution.
And yes, uniqueness is not guaranteed - for example in our data exchange solution we can only guarantee it to be unique withing the given resource type, but not entire system. It a

[2021-12-07 18:00] ahokkonen opened #270 "Fix request for spectral linter"
New version of spectral linter requires ruleset parameter.
Creating default ruleset as part of the sources to solve that issue.

[2021-12-08 23:59] cookeac commented on #270
@ahokkonen it doesn't look like that PR quite worked. The message is now:
`Cannot find module '/usr/src/spectral/{{env.SPECTRAL_RULESET_PATH}}'`

[2021-12-09 20:43] ahokkonen commented on #270
@cookeac legendary- working on my machine :)
I will look into it

[2021-12-16 04:34] cookeac opened #272 "Document semantics for Animal Sets - Groups"
Feedback from the ICAR ADE group is that it is not clear whether the need to manage groups of animals could be met with the Animal Sets functionality we have defined. I believe that could be (or at least mostly - we would need to understand if there were specific problem cases).

However, it sounds like we need to create some documentation so that the use of Animal Sets for groups is discoverable.

[2021-12-16 04:38] cookeac opened #273 "Add event resources for sets (groups) of animals"
A question passed on from members of the ICAR ADE group: should it be possible to record events for sets of animals (groups)? What would be the semantics of this?

I am unsure of the demand for this. Some places where this could be useful:
- Have have applied a standard animal health treatment (for instance a drench or oral wormer) to a group of animals.
- I moved a group of animals to a different

[2021-12-16 08:49] dirbSEGES opened #275 "expected calving date"
Hi

Have there been a discussion about the information about excepted calving date?

The same with dryoffdate?

Or is it up till the client to calculate this?

BR
Ditlev

[2022-01-11 06:50] dirbSEGES opened #276 "Events following the animal"
Hi,
What is the recommendations about how the events following an animal are displayed in the ressources?

Ex. We use a location as parameter to find all parturitions created on the given location. The same location have purchased some animals  with parturions created on a different location.

Should this events be displayed at the current location?

Or is just optionel what we dicedes?

BR

[2022-01-11 21:04] cookeac commented on #276
Hi Ditlev,

A very good question. The short answer is that this is up to your implementation and not specified by the interface specifications.

However, based on my experience, I'd make the following recommendations:
* The actual location on which events were recorded should not change when an animal moves from one location to another. This is a good reason why location should be added to resourc

[2022-01-12 07:19] dirbSEGES commented on #276
Hi Andrew,

Thank you for your answer.

We will take an internal discussion about this. We have all the data available.

I will closed this issue.

[2022-01-12 07:19] #276 closed, assigned to nobody

[2022-01-12 07:50] gra-moore commented on #264
I have reviewed this some more. From the discussion in #153 and the latest text in the resource type:

[code]

I think it can be concluded that sourceId should be a globally or at least source unique identifier. Specifically, it is not scoped to resource type.

Proposal: Require sourceId in the meta section of resources being exchanged via the protocol. The client consuming a feed from a server wi

[2022-01-13 06:42] AndreasSchultzGEA opened #277 "DELETE-calls for batches"
The ReST-standard seem not to define how to handle bodies in DELETE-calls. Therefore, the usage of DELETE-batches is not possible without problems.

[2022-01-13 06:59] gra-moore commented on #277
RFC2616 https://datatracker.ietf.org/doc/html/rfc2616/#section-9.7 is seems silent on what it means to send a body on a delete request. So it could be OK, but I agree it feels very wrong and I haven't seen this approach being used.

An idea in the direction of

- POST a batch txn resource to /txns where the body is a structure indicating the resources to delete.

Would feel more natural to me.

[2022-01-13 07:35] cookeac commented on #277
Options we discussed:
- A batch as a resource that could have an ID and URL and be DELETED (this is most consistent with our current use of batches)
- Defining an Animal Set and then having a mechanism to DELETE animals in that set
- Having Delete_Notifications (like events or messages), identifying resources to delete
- Programatically deleting resources one by one (probably the most pragmatic)
-

[2022-01-13 07:42] cookeac commented on #275
Consider using the Gestations API and resource type which allows this to be calculated and delivered by the server. The Lactation resource could potentially be extended with expected drying off date if that was helpful?

[2022-01-14 07:14] gra-moore commented on #264
Agreed to use sourceId. This issue will be closed as it requires no changes to the model.

[2022-01-14 07:45] gra-moore opened #278 "Current icarResource Discriminator property doesnt appear valid"
The swagger seems incorrect: https://github.com/adewg/ICAR/blob/ADE-1/resources/icarResource.json with relation to the discriminator declaration.

According to the openAPI spec: https://swagger.io/specification/

While composition offers model extensibility, it does not imply a hierarchy between the models. To support polymorphism, the OpenAPI Specification adds the discriminator field. When used,

[2022-01-14 11:43] gra-moore commented on #264
Although we decide on approach. Decided to leave open up PR is merged.

[2022-01-20 07:48] erwinspeybroeck commented on #275
We are using "indication" API's for this to support our apps
We have the following API's
/{market-country-code}/customer/{customer-id}/indications/calvings - this gives a working list for animals that will calve
/{market-country-code}/customer/{customer-id}/indications/heats - this gives the animals to be checked for heat
/{market-country-code}/customer/{customer-id}/indications/runnings-with-a-bu

[2022-01-20 14:48] #166 closed, assigned to nobody

[2022-01-21 07:38] dirbSEGES commented on #275
Hi,
Thank you for your answers.
I see now that Gestations handles expected calvingdate. Haven´t seen that. Sorry.
And in combination with Lactation ressource we have DIM and if this could extended with expected Dryoff date, it will be helpful.

We also have system setting for expected calving and user setting(location) for expected dryoff, so I want to use this settings so the user/farmer do not g

[2022-01-21 07:57] #171 closed, assigned to cookeac

[2022-01-22 07:45] #160 closed, assigned to nobody

[2022-01-27 07:12] cookeac commented on #248
To discuss at an upcoming meeting:
- Will the changes to resources in the [Streaming API project](https://github.com/adewg/ICAR/projects/1) make this easy?
- We talked about a set of well-known relationship types (relationship types to be defined using URIs, perhaps with a short syntax as per types). If so, what relationships would people value? The initial example was an event occurring simultane

[2022-02-03 05:50] #148 closed, assigned to nobody

[2022-02-04 07:50] #233 closed, assigned to nobody

[2022-02-08 07:56] AlexeyHardCode commented on #278
@gra-moore the original idea of adding discriminator to this resource was to be allowed other resources be inherited from **icarResource.json**. So I confirmed from Anton, that there was nothing behind this decision but this. So we can try to apply the fix. Have you already tried above proposed way to fix this issue?

[2022-02-08 08:59] gra-moore commented on #278
@AlexeyHardCode Not quite sure I follow you? I understand the idea but as I said before I dont see how it would actually work given there is no resourceType property. My Proposal is to remove the discriminator, do you have an alternative?

[2022-02-08 12:37] AlexeyHardCode commented on #278
@gra-moore I don't have any alternatives at the moment. I hope that removing the discriminator won't break the structure. I'll try to remove it locally and see if I can generate the code afterwards.

[2022-02-09 08:43] gra-moore commented on #258
I think we still want to do this.

[2022-02-09 08:45] gra-moore commented on #260
We should discuss this again.

[2022-02-09 08:48] gra-moore commented on #259
This is a 2.0 issue but should not be closed now.

[2022-02-10 01:07] cookeac commented on #259
Added next-major-release label which will keep this open.

[2022-02-10 07:03] cookeac commented on #248
This was previously called "Support linking or referencing related events" because it started from linking events recorded together in time (for instance, a milking visit with a treatment or feed), or events linked by intent (for instance, linking a treatment to a prior diagnosis).

[2022-02-10 07:16] cookeac commented on #248
Proposed mechanism to implement this in a tidy manner:

1. Update `icarResourceReferenceType.json`

| Attribute | Type | Notes |
| --- | --- | --- |
| @context | string | DEPRECATED |
| @id | string | DEPRECATED |
| @type | string | DEPRECATED |
| reltype | string, format uri | URI relationship type specified in relationshipCatalog.md |
| identifier | icarIdentifier | Unique identifier of the refe

[2022-02-15 15:30] erwinspeybroeck commented on #184
A try to make it more generic

icarStatistics {
  id : unique identifier of this statistics record
  description : string to describe the contenct of these statistics - could be also an enum ( test day statistics, reproduction statistics, feeding statistics, ...)
  statisticsStartDate : Date (inclusive) for which the statistics are acalculated
  statisticsEndDate : Date (inclusive) for which the s

[2022-02-17 08:45] dirbSEGES opened #282 ""endDate" is not nullable IcarLacationRessource"
Hi,

I´m not sure if it´s at issue here, but need the "endDate" to be nullable. In case of open lactation.

But maybe it is a issue concerning the code generator?

[2022-02-17 10:14] cookeac commented on #282
It is not a required field. Are you saying that null should be a provided value rather than just not supplying the value? This does sound like code generation or language libraries may be ignoring required status.

[2022-02-21 07:04] AndreasSchultzGEA commented on #278
I tested different changes with our code-generator for Java and JS/TS:
* removing the discriminator leads to many problems, esp. in concerns of Generics, instanceof, etc. Large parts of our Java-code have to be re-written.
* defining the discriminator as a required property does not change anything at all for Java or JS/TS or the data-json.
* defining the  discriminator as a dedicated property lea

[2022-02-21 07:57] gra-moore commented on #278
I have several questions, some technical some policy.

1. Policy question first, having a discriminator and not defining the property seems in violation of the swagger spec. So just because some of the tooling needs this, is this what we should be publishing?

2. When I read the spec it seems that to use the discriminator property you also need to specifiy a mapping between values of the discrinam

[2022-02-21 08:17] AndreasSchultzGEA commented on #278
We are using the openapitools code-generator (v5.3.1) for Java, esp. Spring Boot.
I've been in close communication with Alexey, and he observed the same behaviour for the C#-Generator (csharp-dotnet code generator).

to 1.: No, we shouldn't publish sth. which is not conform to the requirements. That's true. Maybe there is a configuration-switch I didn't try to suppress the duplicated output within

[2022-02-24 07:47] erwinspeybroeck commented on #184
Next iteration after working group meeting

icarStatistics {
  id : unique identifier of this statistics record
  location
  description or purpose: enum ( test day statistics, reproduction statistics, feeding statistics, ...)
  startDate : Date (inclusive) for which the statistics are calculated
  endDate : Date (inclusive) for which the statistics are calculated
  Group array {
      groupType :

[2022-02-24 09:27] cookeac commented on #278
Based on our discussion today, and some subsequent research:
* _Discriminator_ is an [OpenAPI specification feature](https://swagger.io/specification/#composition-and-inheritance-polymorphism) intended to support inheritance in cases where it is unclear because _anyOf_ or _oneOf_ have been used, or in some cases when using _allOf_ (which is what we use).
* OpenAPI specification states that a discr

[2022-02-27 08:54] gra-moore commented on #278
Agree with @cookeac summary above and highlight:

1. The value in the discriminator needs to be the name of the schema (type) in the schema document, or a shortname that is used in the mapping. For consistent interchange ideally, implementations would use a mapping that referenced a normative published OpenAPI spec document. But as Andrew says at least we know that these values arent java class na

[2022-03-03 00:40] cookeac commented on #267
This is in progress in current pull requests.

[2022-03-03 13:59] erwinspeybroeck commented on #184
can be viewed and evaluated in https://editor.swagger.io/?url=https://raw.githubusercontent.com/adewg/ICAR/erwinspeybroeck/url-schemes/managementURLScheme.json

[2022-03-04 06:20] #251 closed, assigned to alamers, cookeac, erwinspeybroeck, AndreasSchultzGEA

[2022-03-04 06:21] #250 closed, assigned to nobody

[2022-03-09 14:43] #282 closed, assigned to nobody

[2022-03-09 15:02] dirbSEGES opened #285 "Provide predictions for expected milk yield"
Hi,

Could TestDayResultEventResource have a new property:   "milkWeightExpected" or "milkWeightGoal" ?

BR

[2022-03-10 09:02] gra-moore commented on #278
I just tested out the Open API go generator. It produces the following structure based on the current ADE-1 version of the spec:

`type IcarResource struct {
	// Uniform resource identifier (URI) of the resource (rel=self).
	Self *string `json:"@self,omitempty"`
	Meta *IcarMetaDataType `json:"meta,omitempty"`
}`

with event subtype represented as:

`// IcarEventCoreResource
type IcarEventCoreResou

[2022-03-10 09:21] gra-moore commented on #278
It also appears that the kotlin generator does not suffer from the same bug as the java generator as it uses a different JSON serialiser. Again, the property is not found on the model constructs. Any kotlin client will not work with any services that require the resourceType field to be set.

Here is the kotlin data structure for event

`**
 *
 *
 * @param atSelf Uniform resource identifier (URI)

[2022-03-10 09:46] gra-moore commented on #278
One final note. The dotnet generator recommended by Microsoft is here:

https://docs.microsoft.com/en-us/aspnet/core/tutorials/getting-started-with-nswag?view=aspnetcore-6.0&tabs=netcore-cli

NSwag uses this library for its JSON Schema: And here is the page that describes how discriminators work:

https://github.com/RicoSuter/NJsonSchema/wiki/Inheritance

From what I can see this dotnet tooling li

[2022-03-10 10:30] cookeac commented on #278
There are several issues logged in openapi-generator about this. Essentially it seems that at present discriminators to support data binding and model properties are handled by two different parts of the generator code, and the "discriminator" part does not align with the OpenAPI spec (i.e. doesn't expect the discriminator will be a property in the model).

It is possible to use annotations (As.EX

[2022-03-15 06:53] gra-moore opened #286 "Consider mandating RFC3339 instead of ISO 8601"
https://ijmacd.github.io/rfc3339-iso8601/ Might get us closer to the uniformity we expressed we wanted to see in date time representations.

[2022-03-24 07:27] cookeac commented on #286
We recommend the group consider this, but **also** we should modify the example URL Schemes to show the format that is expected.

[2022-03-24 07:38] cookeac commented on #285
We agree we should add `milkWeight24HoursPredicted`.
It would also be useful to consider how predictions are interchanged more generally.

[2022-03-24 07:51] cookeac commented on #278
We agreed that it makes sense to try and align our ADE 1.3 release with when the repaired openapi-generator (6.0.0) is available. However, it could be released earlier if that is delayed.

At the time we release 1.3, as there are not any semantic changes people can either:
- Adopt 1.3 with updated tooling if required
- Adopt 1.3 and manually adjust their code generation
- Remain with 1.2

We also

[2022-04-07 04:33] cookeac commented on #273
After discussion with a few organisations, it seems that it would be useful to be able to record data for a **set of animals** with two variations. This is data that is difficult or not meaningful to record precisely on individuals because of how the operations or observations are carried out:
Specific examples include:
* Feeding event where a ration of feed is fed to a group of animals in an open

[2022-04-07 07:09] cookeac opened #289 "Create a more formal "Specification" Markdown file for our existing resource-type and location oriented API specs"
The current API specs are documented in OpenAPI specification, but the other expectations for them are in the Wiki.
The Wiki is not versioned, so changes to the expectations are not captured from release to release.

We should create a specification document as was done for the streaming API, and save this as a .md file in the repository. This could make use of content from the Wiki (for instance,

[2022-04-08 03:08] cookeac commented on #273
After discussion on 7 April 2022, we noted:
* Only a subset of events would make sense to record on a mob/group/set basis. These would include feed, treatment, weight samples, etc as above.
* Set data is unlikely to be useful for genetic/breeding decisions but could be useful for other farm management, biosecurity, and inventory purposes (so within the scope of animal recording).
* Set membership

[2022-04-08 05:14] cookeac commented on #273
Here is a conceptual set of changes that would support the discussion above. Examples are a Weight event (quite different properties for group sample vs individual) and a Treatment event (essentially the same properties for both).
Suggested changes and new entities are shown in pink.
![class diagram](https://github.com/adewg/ICAR/blob/Develop/wiki-images/ICAR%20Animal%20Events1.png?raw=true)

[2022-04-19 22:13] cookeac opened #290 "Create icarAnimalEventCoreResource"
In order to implement the discussion on #273 we decided to:
* Remove the `animal` property from icarEventCoreResource.json
* Create a new icarAnimalEventCoreResource.json which references icarEventCoreResource.json with allof and adds the `animal` property.
* Change all the existing individual animal events to reference icarAnimalEventCoreResource.json instead.

The net result to implementers is n

[2022-04-19 22:16] cookeac opened #291 "Create icarGroupEventCoreResource"
This issue helps to address #273
* Create icarGroupEventCoreResource.json based on icarEventCoreResource.json once #290 is complete.
* Add properties for group composition and animal set.

Some consideration needs to be given to animal set -- should it be a reference, or should the animal set resource, including its current list of members, be included. A reference is lighter weight, but leaves un

[2022-04-21 06:48] alamers opened #293 "Write up docs for deciding between location centric vs streaming api"
As discussed, we need some docs easing people into the ICAR ADE standard. With the 1.3 release coming up, the streaming api will be introduced, aside to the location centric api's. We need some docs to help people understand the differences and use-cases for both.

[2022-04-21 06:51] cookeac commented on #278
Discussed 21/04/2022:
Now that the PRs for this have been approved, we need to test code generation under Java and C# with the [openapi-generator 6.0.0 beta](https://github.com/OpenAPITools/openapi-generator/releases/tag/v6.0.0-beta) to see whether updated tooling handles the corrected `resourceType` discriminator correctly.
@AndreasSchultzGEA volunteered to try this for Java, and we hope @AlexeyH

[2022-04-25 06:31] AndreasSchultzGEA opened #295 "Usage of openapi-generator 6.0.0-SNAPSHOT"
**Setup**:
- artefacts are not public available, therefore download sources and compile
- compiles only with Java JDK 8. Set Path to JDK and also JAVA_HOME

**generated Java-Sources**:
- introduction of IcarAnimalEventCoreResource causes Problems
- single discriminator located in IcarResource - also defined as dedicated property
`@JsonTypeName("icarResource")
@Generated(value = "org.openapitools.c

[2022-04-26 01:59] cookeac commented on #295
Hi @AndreasSchultzGEA as you've built openapi-generator 6.0.0 beta from the sources, perhaps you could check **modules/openapi-generator/src/main/resources/JavaSpring/typeInfoAnnotation.mustache**  - there should be some additional code in there that was not in previous versions which deals with `@JsonIgnoreProperties`. That will indicate to us whether the code to fix the bug has made it into the

[2022-04-26 06:43] dirbSEGES opened #296 "Handle embryo/opu flush - add event for Flushing"
Hi,

We have a need to handle when a animal have been "flushed" for embryos.

A simpel solution could  be to add a new enum in inseminationType?

Then maybe EmbryouRessource should have a new property for numberOfEmbryos to set number of available embryos. And possible also and property for embryoType with enums OPU and EMBRYO.

[2022-04-29 05:51] AndreasSchultzGEA commented on #295
There are changes about the discriminator in the master, but not in the branch 6.0.x.
Is there anyone we could trigger about this, @cookeac ?
But as I compiled the master - before the branch 6.0.x has been available - the problem seem still to be present.
I will re-check this before our next meeting.
@AlexeyHardCode : Do you have any results so far?

[2022-05-03 16:46] cookeac commented on #295
Hi @AndreasSchultzGEA do you know what the value (true/false) for `legacyDiscriminatorBehavior` is within the open API configuration?

There is something about this here: https://openapi-generator.tech/docs/generators/openapi/

[2022-05-05 05:49] cookeac opened #297 "Severity code for animal health diagnosis"
From discussions with the ICAR Functional Traits working group, it would seem valuable to add a `severity` property to the [icarDiagnosisType](https://github.com/adewg/ICAR/blob/ADE-1/types/icarDiagnosisType.json).

Email from Christa (in the context of a discussion about diagnosis coding, which is already catered for):

Kathrina then added:

This implies that it won't be possible to define a sing

[2022-05-12 14:04] erwinspeybroeck commented on #297
We have an application with which claw health data is collected by hoof trimmers.
The severity codes used there (for Mortellaro, foot rot, sole ulcers, laminitis,  ...) :
- beginning
- acute/active
- chronic
In other diagnosis we use mostly:
- light
- moderate
- severe
-

[2022-05-18 09:27] AndreasSchultzGEA commented on #295
I discovered, that we use a patched version of the **typeInfoAnnotation.mustache** mentioned above. Therefore, I executed the complete test again without the patched template.

The result in concerns of the new "resourceType" is now ok. Defined once, output contains it once and with reasonable content.

But we also generate the ReST-interfaces from the definitions at the "url-schmes"-folder. And t

[2022-05-19 06:10] alamers commented on #286
We should also update https://github.com/adewg/ICAR/wiki/Design-Principles#dealing-with-time then.

[2022-05-19 06:13] alamers commented on #293
Original problem statement is at https://github.com/adewg/ICAR/issues/257 and can serve as a base.

[2022-05-19 06:30] cookeac opened #299 "Remove the default response from example URL files and substitute 400 and 500 errors."
Use of the default causes invalid code generation as mentioned in the comments to #295

[2022-05-19 06:39] cookeac commented on #297
Until the Functional Traits working group propose a guideline, perhaps implementers could define their own non-standard specification (i.e. separate field outside the schema that is named to avoid collisions).

[2022-05-19 06:42] cookeac commented on #296
It might be appropriate to have an Embryo Flushing event which would have information about the facility, the number of embryos, quality, [age of the animal] etc.

- Craig to do some research; Andrew to ask the AI/RT WG.

[2022-05-19 06:43] cookeac commented on #285
Erwin will investigate this.

[2022-05-19 06:54] cookeac opened #300 "Document the ADE information model"
Create model documentation including diagrams

[2022-05-19 06:55] cookeac commented on #300
For instance, replace https://github.com/adewg/ICAR/wiki/Working-with-Resources

[2022-05-19 06:55] cookeac opened #301 "Add a since-version to the current list of resources and events in the Wiki"
This page https://github.com/adewg/ICAR/wiki/Resource-entities

[2022-05-19 06:57] cookeac commented on #295
We agreed that now #299 has been logged, this issue itself is resolved.

[2022-05-19 07:16] cookeac commented on #301
Have updated the page up to release 1.2

[2022-05-19 07:16] #301 closed, assigned to nobody

[2022-05-20 06:00] cookeac commented on #278
Fixed by #279
Fixed by #287

[2022-05-20 06:01] cookeac commented on #266
Resolved by #279

[2022-05-20 06:02] cookeac commented on #267
Resolved by #281

[2022-05-20 06:02] cookeac commented on #268
Resolved by #283

[2022-05-20 06:03] cookeac commented on #265
Resolved by #280

[2022-05-20 06:06] cookeac commented on #300
Relates to #258 but probably initially more informal and diagrammatic.

[2022-05-20 06:08] cookeac commented on #257
Resolved by #283

[2022-05-20 06:09] cookeac commented on #184
Resolved by #298

[2022-05-20 06:20] cookeac commented on #247
Resolved by #269

[2022-05-20 06:36] cookeac commented on #297
I did some more research @erwinspeybroeck. It seems in many diseases there is a stage classification which has these values:
* Early
* Acute
* Sub-acute (healing or degenerating past acute)
* Chronic
* Acute-on-chronic (chronic which has been re-exacerbated)
* End-stage (possibly - I've only seen this in one case).

It might be appropriate for a light/moderate/severe/extreme scale to be used for `

[2022-05-20 06:42] cookeac commented on #296
Presumably the properties of an icarReproFlushingEvent would have properties:
- embryoType (OPU, Embryo)
- collectionCentre (string)
- embryoCount
[Plus all the normal event properties that identify date, animal, person responsible, etc]

[2022-05-30 18:59] cookeac opened #305 "Add documentation for Identifier Schemes"
The various derivatives of `icarIdentifierType` are not well documented, and while there is documentation about schemes in the Wiki (https://github.com/adewg/ICAR/wiki/Schemes) it does not lend itself to maintenance:
- Only those with write access to the repo can edit
- It is not visible in forks
- It is not versioned with releases.

This should be replaced with a link to markdown documentation an

[2022-05-31 09:18] erwinspeybroeck commented on #297
I agree - it seems logical

[2022-06-01 06:34] gra-moore opened #307 "Digital signing of each resource to create a web of trust without centralisation."
This is a proposal / idea for ensuring data quality and true declaration of source of origin. So, this idea is inspired by some thinking going on in distributed social media tech platform space. Notably by facebook and their bluesky project, but also some conceptual work done at MIMIRO.

The basic idea is that each system that creates data resources, or publishes them to others, has a private publ

[2022-06-01 13:18] #305 closed, assigned to nobody

[2022-06-01 13:36] cookeac commented on #307
This is very interesting.
We considered something similar in the geospatial data group I help facilitate in NZ/Australia. See https://github.com/Datalinker-Org/Geospatial/issues/37

We have been looking at something like the proposed [JWS/CT (JSON Web Signature/Clear Text) specification](https://www.ietf.org/id/draft-jordan-jws-ct-07.html) which combines JWS with canonical formatting of JSON (prod

[2022-06-10 08:23] #277 closed, assigned to nobody

[2022-06-10 08:23] #275 closed, assigned to nobody

[2022-06-10 16:16] cvigorsICBF commented on #296
My research so far shows the following could be recorded as part of a flushing

_sireIdentifiers_ - there can be 0 or more sires depending on the method used. For example, the 'OPU-IVF' can have the fertilization take place in the lab, while 'superovulation and flushing' can have the fertilization done via normal AI. Also, the AI straw used for insemination can consist of multiple bulls, or there

[2022-06-16 06:41] cookeac commented on #296
Agreed we would like to add this event. Consider adding an array of `potentialSire[]` identifiers.

Useful fields for sires are `identifier` (scheme+ID), official name (but hard to keep up to date), URI or reference. These should be used in the potential sire array.

[2022-06-23 11:10] #248 closed, assigned to nobody

[2022-07-28 06:40] alamers commented on #293
See also [generic data exchange api](https://github.com/adewg/ICAR/blob/Develop/generic-data-exchange-api.md)

[2022-07-28 11:22] alamers commented on #270
I've encountered this one as well (and it still seems to be an issue).

In my branch, I've fixed the paths but I get this very descriptive error message:

[code]

No clue how to continue along this path. Now testing with a default spectral github action (instead of relying on that docker image).

[2022-07-28 11:31] alamers commented on #270
Yep, the action does work (but now fails with proper validation errors). I'll create a pull request.

[2022-07-28 11:46] alamers commented on #270
Well... it does a bit more but I have no clue where it leaves its output. Maybe we should simply remove it and rely on speccy only?

[2022-07-28 11:46] alamers commented on #270
The speccy validations fails also by the way, but that doesn't stop the build (and still gives a green light..)

[2022-08-19 11:51] erwinspeybroeck commented on #285
1) it is possible to add predicted fields to the test day result API - on our database they are called:
- milkWeightExpected
- fatWeightExpected
- ProteinWeightExpected
Andrews proposal is maybe better since it makes clear that it 's a 24 hours expected weight
- milkWeight24HoursPredicted
- fatWeight24HoursPredicted
- proteinWeight24HoursPredicted

2) we deliver now to feeding companies also milk-

[2022-08-19 11:52] #247 closed, assigned to nobody

[2022-08-22 13:44] arjanlamersmanuchar opened #312 "Documenting vendor- and country-specific fields"
At JoinData we got the request to publish country-specific fields in our documentation. Since our documentation is based on ICAR published standards, this is something that we are hesitant to do. Especially since we may have multiple sources and we would have to merge individual extensions to a single document. If a client connects directly to a service, this is not a problem: the service simply w

[2022-08-22 13:46] alamers commented on #312
Oops, published it on a different account ;)

[2022-08-25 05:33] cookeac opened #314 "Add icarGroupTreatmentResource"
As referenced in #273, it is advantageous to allow treatments to be recorded on groups of animals, as defined by an animal set or simply by a description (for instance, animals without unique individual identification).

Examples of these treatments are drenches, dips or pour-ons (wormers) for parasite control, or common vaccinations.

[2022-08-25 06:10] #293 closed, assigned to alamers

[2022-08-25 07:10] cookeac commented on #312
At our meeting on 2022-08-25 we agreed that these parallel extended resources would be a good method of documentation:
- They should be placed in a separate folder (e.g. /extended-fields or /proposed-extensions)
- They should use "allOf" to incorporate the standard resources
- They are only for documentation purposes - not part of the standard or incorporated in the example URL schemes
- Implement

[2022-08-25 07:12] cookeac commented on #273
At our meeting on 2022-08-25 we agreed that this seems good as long as code generation still works well (i.e. moving animal reference doesn't break anything).
@AndreasSchultzGEA and @AlexeyHardCode will have a look with their respective language code generation to assess.

[2022-08-25 07:13] cookeac commented on #297
At our meeting 2022-08-25 we agreed that it makes sense to separate `severity` and `stage` into two separate fields within `icarDiagnosisEvent`. @cookeac will propose these and send to the Functional Traits Group to ensure no objection.

[2022-08-25 07:15] cookeac commented on #270
At our meeting 2022-08-25 we agreed:
- Spectral is a better linter and works well in individual development environments
- However Spectral is really not working in GitHub, regardless of whether with the official GitHub action or using an image.
- @alamers will attempt to remove or deactivate these actions.

[2022-08-25 07:17] cookeac commented on #278
Reactivated this issue so we could discuss in the context of #295 and #299
We decided that @AndreasSchultzGEA will test again with the code generator (last tested in May) to see if any newer releases to openapi-generator beta 6 have improved things.

[2022-08-25 07:19] cookeac commented on #296
At our meeting 2022-08-25 we agreed we should progress with this. Unless @cvigorsICBF wants to have a look at implementing this, or @dirbSEGES wants to pick it up, then @erwinspeybroeck will look when he gets time.

[2022-08-25 07:21] cookeac commented on #285
We discussed at our meeting on 2022-08-25 and agreed that it would make sense to have a message such as that described in option 2 - a more generalised lactation prediction for individual animals. We wondered if this might avoid having to have prediction fields in the test day resource. However, if the lactation prediction was always future-focused, you could then lose the previous prediction for

[2022-09-06 11:36] AndreasSchultzGEA commented on #295
The re-check of the migration to openapi-geneartor 6.0.0-SNAPSHOT causes again some problems as described above: Out of the default-error-handling a random default-error class is generated. The naming seems to suite to sth. from the first endpoint within the urlscheme-file under investigation.

We found a way to suppress this behaviour by not defining the default-(error)-response inline in each ur

[2022-09-06 11:38] AndreasSchultzGEA commented on #295
This fits together with the changes made by Graham in https://github.com/adewg/ICAR/pull/302
[code]

[2022-09-06 22:24] cookeac commented on #295
@AndreasSchultzGEA I agree, this seems like a good solution which is cleaner and also more aligned with how we returned errors for batch posts.

[2022-09-07 07:46] cookeac opened #316 "Add Group Movement/Registration events"
These would be particularly useful for countries and software systems that deal with movements of sheep, or indeed pigs.
In most cases these would extend `icarGroupEventCoreResource` and just add the same specific fields that are in the individual animal movement events.

[2022-09-08 05:58] cookeac commented on #295
Opened in the context of #299

[2022-09-08 06:02] #290 closed, assigned to nobody

[2022-09-08 06:02] #291 closed, assigned to nobody

[2022-09-08 06:03] #286 closed, assigned to cookeac

[2022-09-08 06:03] #265 closed, assigned to nobody

[2022-09-08 06:03] #267 closed, assigned to nobody

[2022-09-08 06:04] #264 closed, assigned to nobody

[2022-09-08 06:04] #266 closed, assigned to gra-moore

[2022-09-08 06:05] #184 closed, assigned to nobody

[2022-09-08 06:05] #268 closed, assigned to gra-moore

[2022-09-08 06:08] #257 closed, assigned to nobody

[2022-09-08 06:09] cookeac commented on #289
Resolved by #311 - see `/docs/location-based-api.md`

[2022-09-08 06:09] #289 closed, assigned to nobody

[2022-09-08 06:15] cookeac opened #317 "Consider adding PostalAddress to icarConsignmentType"
Currently `icarConsignmentType` has string fields for `destinationAddress` and `originAddress'.
Several systems store addresses in structured fields (e.g. Address 1, Address 2, City, Post Code, Country...). There is a standard for this.

It is relatively easy to convert a structured address to a string -- but much more effort to reconstitute a structured address from a string.

In Schema.Org they

[2022-09-08 06:23] cookeac commented on #295
We agreed that this should be done.

[2022-09-08 06:33] AndreasSchultzGEA opened #318 "Separation of Milk"
How to handle the separation of milk in the case of
* parturition -> colostrum
* treatment,
* etc.

[2022-09-08 06:48] cookeac commented on #318
Possibly create an event to reflect that this works like a withdrawal period for a health treatment, but separate it from a health treatment that might require milk to be disposed -- this is milk that would be set aside for colostrum.

We looked at alternatives - using the treatment event and expanding the withdrawal type.
We also considered (but declined) using animal sets (requires active mainte

[2022-09-08 06:58] cookeac commented on #317
Andrew to do a PR with anyOf and we will review.

[2022-09-08 07:06] cookeac opened #319 "icarReproParturitionResource.ProgenyDetails missing from ADE 1.2?"
It appears these were merged into **Develop** branch on 2021-09-05 and ADE 1.2 was released on 2021-09-16, so we expected these would be in ADE 1.2. However, they don't appear in the **ADE1** branch?

Raised by @tpekeler and reviewed at the meeting on 8 September 2022. This does seem to be the case.
@cookeac will investigate more. The solution will be to promptly get ADE1.3 released.

[2022-09-08 07:13] cookeac commented on #314
Resolved by #315

[2022-09-08 07:13] #314 closed, assigned to nobody

[2022-09-08 07:15] cookeac commented on #273
Noted at the meeting 08 Sep 2022 that Andreas has tested and it is ok.

[2022-09-08 11:40] AlexeyHardCode commented on #273
Verified code generation with csharp-netcore.  Events hierarchy looks same way as it should. From my side all good.

[2022-09-08 18:54] cookeac commented on #273
Great, thanks

[2022-09-08 18:54] #273 closed, assigned to AlexeyHardCode

[2022-09-09 06:04] tpekeler commented on #319
There seems to be more missing in ADE-1 branch. We switched to Development for generating all new sources, but this is confusing to other partners following the guidelines to rely on ADE-1 branch. Maybe there are some errors in the toolchain.

[2022-09-12 01:01] cookeac commented on #319
Do we know what else might be missing @tpekeler?
I can see the PR #245 from Develop into ADE1 on 2021-09-16
https://github.com/adewg/ICAR/commit/b10d8d7ad6a291710e093493573fb6fe8e26469b

The ProgenyDetails were added to icarReproParturitionEvent in a commit on 2021-09-05 BUT this was in a PR from a separate branch which was merged into Develop on 2021-09-24 - AFTER the ADE 1.2 release (see PR #243

[2022-09-12 05:26] cookeac opened #323 "Define URL Scheme for Group Event messages"
Should Group Event messages (treatment, arrival, departure, birth, death) for groups of animals that are not individual animal messages be:
* Added to standard URL schemes (e.g. healthURLScheme.json and registrationURLScheme.json) OR
* Added to one or more group URL schemes (e.g. groupEventsURLScheme.json)

I lean towards the second option if there are only a relatively small number of these.

[2022-09-12 09:06] tpekeler commented on #319
Obviously the PogenyDetailsResource is missing too. What else I cannot say for sure. We are developing some automated Tool to compare the iDDEN implementation to the latest ADE release. Maybe we can use this to investigate a little more.

[2022-09-12 22:00] cookeac commented on #319
Yes, it seems that the PR that Anton had opened for Progeny Details had not been reviewed by participants at the time we released v1.2. See the minutes immediately after the 1.2 release - https://github.com/adewg/ICAR/wiki/Technical-Minutes-2021-09-23. At the time we thought that v1.3 would be completed quickly, so this was not a problem.

[2022-09-13 21:23] cookeac commented on #295
Resolved again by #321

[2022-09-13 21:23] #295 closed, assigned to AndreasSchultzGEA

[2022-09-13 21:23] cookeac commented on #299
Resolved by #321

[2022-09-13 21:23] #299 closed, assigned to gra-moore

[2022-09-16 04:52] #316 closed, assigned to cookeac

[2022-09-16 04:52] #317 closed, assigned to cookeac

[2022-09-16 06:49] cookeac commented on #318
Resolved by #320

[2022-09-16 06:49] #318 closed, assigned to AndreasSchultzGEA

[2022-09-19 11:07] cvigorsICBF commented on #296
I can pick this one up when I get a few minutes. If someone can give me a direction on how to generate those spec files, that would help.

[2022-09-22 06:35] cookeac commented on #319
We would like to release v1.3 as soon as possible.

[2022-09-22 06:45] cookeac opened #325 "Check that icarMessageType is up to date for 1.3 release"
Add new resource types.

[2022-09-22 06:46] cookeac opened #326 "Check that exampleURLScheme is complete with resource types for 1.3"
We think this should be deprecated for the future but in version 1.3 it should contain GET for all resource types.

[2022-09-22 07:00] erwinspeybroeck commented on #326
in management section  : missing = statistics
in health section : missing = health-status
in milk section : missing = milking-withdrawals
in performance section : missing = type-classifications

other way in example url but not in the registrion url = locations

[2022-09-22 11:30] AlexeyHardCode commented on #319
Enums are missing as a separate file:
1.	DurationUnit (icarFeedDurationType, icarMilkingMilkWeightType)
2.	MilkWeightUnit (icarMilkingMilkWeightType)
3.	OperationMethod (icarResourceCollectionReference)
4.	 OperationType (icarResourceCollectionReference)
5.	PlanOrActual (icarMedicineCourseSummaryType)
6.	ReferenceType(icarResourceCollectionReference)
7.	QuarterId (icarQuarterMilkingType

[2022-09-22 11:33] AlexeyHardCode commented on #319
In compare to iDDEN Hub latest version, ADE 1.2 version has following differences:

Enums are missing as a separate file:
1.	DurationUnit (icarFeedDurationType, icarMilkingMilkWeightType)
2.	MilkWeightUnit (icarMilkingMilkWeightType)
3.	OperationMethod (icarResourceCollectionReference)
4.	OperationType (icarResourceCollectionReference)
5.	PlanOrActual (icarMedicineCourseSummaryType)
6.	ReferenceTy

[2022-10-03 05:29] cookeac commented on #323
Discussed and agreed:
1. Add these to the health and registration schemes.
2. Add them to exampleURLScheme.json as well

[2022-10-03 05:31] cookeac opened #332 "Add group event for weighing"
Add a group event for weighing (for instance, weighing a sample of animals where IDs are not relevant, or weighing untagged animals).
First proposed in #273

[2022-10-05 08:01] cookeac opened #335 "Birth Period in icarInventoryClassificationType doesn't validate as per description"
The `birthPeriod` in `icarInventoryClassificationType` was intended to represent an approximate birth period for a number of animals with an **ISO8601 interval** (effectively a range between two dates, but there are extensions that allow year or year and month).
I had originally drafted this as an `icarDateType` which is just **string format date**. However, most validators only accept RFC-3339 da

[2022-10-05 08:01] cookeac commented on #335
Resolved by #334 (hopefully)

[2022-10-06 05:03] cookeac commented on #270
I found that spectral gives an incorrect error about an invalid array item type.
However, the error is actually caused by an error in the array item included by $ref, or by another object within that included by $ref. This can be a bit tricky to find, but when the error is corrected, the spectral error goes away.
I think that because validation further down fails, the type included by $ref is no l

[2022-10-06 06:43] #297 closed, assigned to cookeac

[2022-10-06 06:58] #325 closed, assigned to cookeac

[2022-10-06 06:58] #332 closed, assigned to cookeac

[2022-10-06 06:58] #335 closed, assigned to nobody

[2022-10-06 06:59] cookeac commented on #319
Closing - this was due to a time difference between when 1.2 was released and the PR merging the changed items was merged. Will be addressed by releasing 1.3.

[2022-10-06 06:59] #319 closed, assigned to cookeac

[2022-10-06 07:00] #270 closed, assigned to alamers

[2022-10-06 08:12] cookeac commented on #326
Resolved by #330

[2022-10-06 08:12] #326 closed, assigned to erwinspeybroeck

[2022-10-20 07:07] #323 closed, assigned to cookeac

[2022-10-20 07:15] cookeac commented on #296
Discussed at the meeting on 2022-10-20, notes for @cvigorsICBF and others who are interested.

* Suggested that `flushingType` could be `flushingMethod` - just a little clearer.
* Long discussion about inclusion of sire details in the flushing event. Really this reflects one or more insemination events that (should have) been recorded beforehand AND data that should be transferred to generated `ic

[2022-10-20 07:16] cookeac commented on #296
At the end of the meeting we discussed the v1.3 release. We would like to announce this at the wider ADE meeting 2022-10-20 (evening CET). Proposed that we would tag this issue and PR #337 with "next-minor-release" meaning they would target v1.4.

[2022-10-20 09:43] cvigorsICBF commented on #296
Based on feedback this morning, my current view would be to remove all sire details including straw from the event.
These fields are more relevant to the embryo. Looking at some actual flushing data, the sire is known at time of flushing in 96% of cases, so the sire should be recorded somewhere. These fields already feature in icarReproEmbryoResource, so that should suffice.

The collectionCentre

[2022-10-28 12:21] erwinspeybroeck commented on #285
I did the following:

- added predicted fields to the test day result resource
- added a new resource "milkPrediction"
- added it for the moment in the milk url only

It can be viewed by https://editor.swagger.io/?url=https://raw.githubusercontent.com/adewg/ICAR/erwinspeybroeck/url-schemes/milkURLScheme.json

[2022-11-02 20:14] #272 closed, assigned to cookeac

[2022-11-03 07:56] cookeac opened #343 "Possible agenda for webinar January 2023"
Purpose - to showcase ADE 1.3

Possible agenda items
- What is the ADE specification
- What messages are included (an overview)
- What is new for ADE 1.3
- Who is using this - examples of current implementations
- How to use it - getting started
- Identifier Schemes
- Code generation quick start

**Suggestions welcome!**

The target for the webinars is 26 or 27 January 2023, with one at 9am CET an

[2022-11-03 08:07] cookeac commented on #296
Discussed at the meeting 2022-11-03 and agreed with Craig's recommendation to have less attributes (principally `flushingMethod` and `embryoCount`, and based on `icarAnimalEventCoreResource`.

Decided we did not need links to the embryo resources - as these might not be defined at the time of the flushing event, and they could later be linked back using the donor animal identifier and the collecti

[2022-11-03 08:14] cookeac commented on #285
On 2022-11-03 @erwinspeybroeck took us through the excellent and very interesting API design for this.
We agreed:
* It would be useful to define a MilkPrediction type which could contain the periodHours (usually 24 hours), and three `icarMilkingMilkWeightType` objects - one for milkWeight, one for fatWeight, and one for proteinWeight.
* The names of the predicted average rest of lactation and pred

[2022-11-03 08:20] cookeac commented on #155
Reopening this event which the bot had helpfully closed!

[2022-11-17 07:37] cookeac opened #347 "icarWithdrawalEventResource inherits incorrect event type"
icarWithdrawalEventResource should include icarAnimalEventCoreResource but includes icarEventCoreResource by mistake.
This needs to be corrected in version 1.3.1 so the event can be used.

[2022-11-17 07:41] cookeac commented on #312
The current pressure for this has lessened. If anyone else needs this, they could pick up this issue and implement as suggested.

[2022-11-17 07:48] cookeac commented on #155
Noted need for pH, health and disease observations (e.g. fluke).
Clarity needed on weightCorrected.
Conformation grades - need to support international grading as well as EUROP.

[2022-11-17 07:53] cookeac commented on #347
Fixed by @AndreasSchultzGEA

[2022-11-17 07:53] #347 closed, assigned to nobody

[2022-11-17 08:08] #278 closed, assigned to AlexeyHardCode

[2022-11-22 04:37] #296 closed, assigned to cvigorsICBF

[2022-11-25 13:36] erwinspeybroeck opened #353 "icarStatistics API is not ok"
We wanted to start with this one, but I fear it is not correct

    "group": {
      "type": "array",
      "items": {
        "$ref": "../types/icarStatisticsGroupType.json"
      }
    },
    "statistics": {
      "type": "array",
      "items": {
        "$ref": "../types/icarStatisticsType.json"
      }

Normally the statistics are realted to one group ) I would propose a slightly different co

[2022-11-30 10:28] cvigorsICBF commented on #155
Some details on what could be available
**Liver Values:**
1 =  Normal
2A = Limited fluke damage
2B = Extensive fluke damage
3A = Live fluke limited
3B = Live fluke extensive
4 = Other
5 = Abscess

A carcass can have more than one.

**Lung Values**
1 = Normal
2 = Limited Pneumonia
3 = Extensive Pneumonia
4 = Other

**Base Price**
Price per kg (taxes included)

**Spec Price**
Final price per kg paid